<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">任务跟进系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首页 <span class="sr-only"></span></a></li>
            <li><a href="/newTask">创建任务 <span class="sr-only"></span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right nav-list">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                <ul class="dropdown-menu admin-list">
                  <li><a href="/todolist2" op="shop">代办事项</a></li>
                  <li><a href="/taskFeedback" op="shop">任务反馈</a></li>
                  <li><a href="logout" op="food">退出</a></li>
                </ul>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- 顶部导航 -->
    <div class="container">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h1>{{ username }}</h1>
          </div>
          <div class="panel-body">
            <div class="container">
              <div class="row">
              <a href="/taskFeedback">
                <div class="col-md-offset-3 col-md-6 well well-lg">
                  <h3 align="center">管理所有任务</h3>
                </div>
              </a>
              <a href="/statistic">
                <div class="col-md-offset-3 col-md-6 well well-lg">
                  <h3 align="center">查看统计图</h3>
                </div>
              </a>
              <a href="/users">
                <div class="col-md-offset-3 col-md-6 well well-lg">
                  <h3 align="center">管理所有用户</h3>
                </div>
              </a>
              <a href="/logout">
                <div class="col-md-offset-3 col-md-6 well well-lg">
                  <h3 align="center">注销登录</h3>
                </div>
              </a>
              </div>

            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
  <!-- js -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script>
    function showMenu(menu)
    {
      $(".side-nav .side-box ."+menu).removeClass("btn-default");  
      $(".side-nav .side-box ."+menu).addClass("btn-primary");
      console.log(menu)
    }
    showMenu("statistic");
    
  </script>
  </body>
</html>