<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">任务跟进系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首页 <span class="sr-only"></span></a></li>
            <li><a href="/newTask">创建任务 <span class="sr-only"></span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right nav-list">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                <ul class="dropdown-menu admin-list">
                  <li><a href="/todolist2" op="shop">代办事项</a></li>
                  <li><a href="/taskFeedback" op="shop">任务反馈</a></li>
                  <li><a href="logout" op="food">退出</a></li>
                </ul>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- 顶部导航 -->
    <div class="container">
      <div class="row">
        <h1>{{ username }}</h1>
        <button class="btn btn-default" onclick="window.location.href = '/newTask'">新建任务并发布</button>
        <button class="btn btn-default" onclick="window.location.href = '/todolist2'">查看待办事项</button>
        <button class="btn btn-default" onclick="window.location.href = '/taskFeedback'">查看任务反馈</button>
        <button class="btn btn-default" onclick="window.location.href = '/statistic'">查看统计图</button>
        <button class="btn btn-default" onclick="window.location.href = '/logout'">注销登录</button>
      </div>
  </div>
  <!-- js -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script>
    function showMenu(menu)
    {
      $(".side-nav .side-box ."+menu).removeClass("btn-default");  
      $(".side-nav .side-box ."+menu).addClass("btn-primary");
      console.log(menu)
    }
    showMenu("statistic");
    
  </script>
  </body>
</html>