<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务跟进系统 -登录/注册</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="/static/css/footer.css" rel="stylesheet">
    <script>
        function inputNull(form){
            if(document.getElementById("inputEmail3").value==""){
                window.alert("您好！用户名不能为空");
                return false;
            }
            if(document.getElementById("inputPassword3").value==""){
                window.alert("您好！密码不能为空");
                return false;
            }
            return ture;
        }
    </script>
    <script>
        function inputNull1(form)
        {
            if(document.getElementById("re-account").value==""){
                alert("您好！用户名不能为空");
                return false;
            }
            if(document.getElementById("re-password").value==""){
                alert("您好！密码不能为空");
                return false;
            }
            if(document.getElementById("re-rpassword").value!=document.getElementById("re-password").value){
                alert("您好！两次密码输入不匹配");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <!-- 顶部导航 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">任务跟进系统</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">首页 <span class="sr-only"></span></a></li>
              <li><a href="/newTask">创建任务 <span class="sr-only"></span></a></li>
            </ul>
  
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                  <ul class="dropdown-menu admin-list">
                    <li><a href="/todolist2" op="shop">代办事项</a></li>
                    <li><a href="/taskFeedback" op="shop">任务反馈</a></li>
                    <li><a href="logout" op="food">退出</a></li>
                  </ul>
                </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- 顶部导航 -->


    <!-- 内容界面 -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="text col-md-offset-3 col-md-4">

                    <!-- 面板 -->
                    <div class="panel">

                        <div class="container-fluid">
                            <div class="row">

                                <!-- 登录 -->
                                <div class="login">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="h1">登录账号</div>
                                        </div>
                                        <div class="row">
                                            <form class="form-horizontal" action="/login" method="POST" onsubmit="return inputNull(this)">
                                                <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">账号:</label>
                                                    <div class="col-sm-10">
                                                    <input type="name" class="form-control" id="inputEmail3" placeholder="用户名" name="name" autocomplete=off>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-2 control-label">密码:</label>
                                                    <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="inputPassword3" placeholder="密 码" name="password">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-3 col-sm-7">
                                                    <button type="submit" class="btn btn-default btn-sub" id="btn-login">登录</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>    
                                    </div>
                                </div>
                                <!-- 登录 -->

                            </div>

                            <div class="row">

                                    <!-- 注册 -->
                                    <div class="register">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="h1">注册账号</div>
                                            </div>
                                            <div class="row">
                                                <form class="form-horizontal" action="/register" method="POST" onsubmit="return inputNull1(this)">
                                                    <div class="form-group">
                                                        <label for="re-account" class="col-sm-3 control-label">账号</label>
                                                        <div class="col-sm-9">
                                                        <input type="name" class="form-control" id="re-account" placeholder="用户名" name="name" autocomplete=off>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="re-password" class="col-sm-3 control-label">密码</label>
                                                        <div class="col-sm-9">
                                                        <input type="password" class="form-control" id="re-password" placeholder="输入密码" name="password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="re-rpassword" class="col-sm-3 control-label">重复密码</label>
                                                        <div class="col-sm-9">
                                                                <input type="password" class="form-control" id="re-rpassword" placeholder="再次输入密码" name="password_2">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-7">
                                                        <button type="submit" class="btn btn-default btn-sub" id="btn-re">注册</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 注册 -->
    
                                </div>

                        </div>
                        <div class="panel-choose">
                                <span class="new-account"><a href="#" id="btn_newUser">新用户</a></span>            
                        </div>

                    </div>
                    <!-- 面板 -->

                </div>
            </div>         
        </div>
    </div>


    <footer class="panel-footer">
        <div class="container">
      <div class="row footer-top" style="text-align: center;">
       <a href="#"><button class="btn">返回顶部</button></a>
      </div>
      </div>
      </footer>

    <!-- js -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/login.js"></script>
    <!-- js -->
    
</body>
</html>