<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newTask</title>
    <script>
        function inputNull(form){
            if(document.getElementById("deadline").value==""){
                window.alert("您好！截止时间不能为空");
                return false;
            }
            if(document.getElementById("headline").value==""){
                window.alert("您好！标题不能为空");
                return false;
            }
            if(document.getElementById("content").value==""){
                window.alert("您好！具体内容不能为空");
                return false;
            }
            
            return ture;
        }
    </script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/RL.css"> -->
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/summernote.min.css">
</head>
<body>
    <!-- 网页内容区 -->
    <div class="content">
        <div class="container">
            <div class="row">
                <h2>创建任务</h2>
            </div>
            <div class="row">
                <form class="form-horizontal" action="/newTask" method="POST" onsubmit="return inputNull(this)">
                    <div class="form-group">
                        <h4>接收对象</h4>
                        {% for a in users %}
                            <div class="checkbox-inline">
                                <lable class="control-label"><input type="checkbox"name="receivers" value={{a.id}} />{{a.username}}</lable>
                            </div>
                        {% endfor %}
                    </div>
                      <div class="form-group">
                        <input type="date" class="form-control"  placeholder="任务截止时间" name="deadline" id="deadline">
                    </div>
                      <div class="form-group">
                        <input type="text" class="form-control"  placeholder="任务标题" name="headline" id="headline">
                    </div>
                      <div class="form-group">
                        <textarea id="summernote" name="content"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info summit">提交</button>
                            <button type="button" class="btn btn-info" onclick="window.location.href = '/'">取消</button>
                        </div>

                  </form>
            </div>
         
        </div>
    </div>
    <!-- 网页内容区 -->
    
     <!-- js -->
     <script src="/static/js/jquery.min.js"></script>
     <script src="/static/js/bootstrap.min.js"></script>
     <script src="/static/js/summernote.js"></script>
     <script>
        $(document).ready(function() {
            $('#summernote').summernote(
                {
                    height:"300px",
                    disableDragAndDrop: true,
                    placeholder:"任务具体内容"
                    
                }
            );
        });
    </script>
</body>
</html>