<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务跟进系统 -数据统计</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/backstage.css">
    <link href="/static/css/footer.css" rel="stylesheet">
    <script src="/static/js/echarts.min.js"></script>
</head>
<body>
    <!-- 顶部导航 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">任务跟进系统</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首页 <span class="sr-only"></span></a></li>
            <li><a href="/newTask">创建任务 <span class="sr-only"></span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right nav-list">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                <ul class="dropdown-menu admin-list">
                  <li><a href="/todolist2" op="shop">代办事项</a></li>
                  <li><a href="/taskFeedback" op="shop">任务反馈</a></li>
                  <li><a href="logout" op="food">退出</a></li>
                </ul>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- 顶部导航 -->

    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8" id="main" style="width: 800px;height:800px;"></div>
        </div>
    </div>
  <!-- 网页内容区 -->
  <footer class="panel-footer">
    <div class="container">
  <div class="row footer-top" style="text-align: center;">
   <a href="#"><button class="btn">返回顶部</button></a>
  </div>
  </div>
  </footer>

    <!-- js -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      var dataAxis = [];
      var data = [];
      var yMax = 500;
      var dataShadow = [];
      $.ajax({
         type : "post",
//       async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
         url : "/echarts",    //请求发送到Servlet处
//       data : {},
        //  dataType : "json",        //返回数据形式为json
         success : function(result) {
             //请求成功时执行该函数内容，result即为服务器返回的json对象
             if (result) {
//           	alert(result["data"]);
                    for(var i=0;i<result['data'].length;i++){
//                  	alert(result["data"][i]["name"]);
                        dataAxis.push(result['data'][i]["name"]);    //挨个取出名称并填入类别数组
                     }
                    for(var i=0;i<result['data'].length;i++){
                          data.push(result['data'][i]["num"]);    //挨个取出数量并填入销量数组
                      }
                      yMax = result['data'][0]["num"]
                    
                    for (var i = 0; i < data.length; i++) {
                      dataShadow.push(yMax);
                    }


option = {
 
 grid: {
     left: '3%',
     top:'2%',
     right: '4%',
     bottom: '3%',
     containLabel: true
 },
 tooltip : {
     trigger: 'axis',
     axisPointer : {            // 坐标轴指示器，坐标轴触发有效
         type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
     }
 },
 //X轴信息
 xAxis : [            {                
     type : 'category',                
     data : dataAxis,
     axisTick: {
                 alignWithLabel: true,
                 fontSize:30
             }
         }
     ],
 //Y轴信息
 yAxis : [        {        
     type : 'value',        
     }    ],
 series : [        {            
     name: '数量',            
     type: 'bar',            
     itemStyle: {                
         normal: {                    
             color: function(params) {                        // 给出颜色组                        
             var colorList = ['#428bca','#5cb85c','#5bc0de','#f0ad4e','#d9534f'];
                     return colorList[params.dataIndex]
                 },
             }
         },
         //柱状图宽度
         barWidth: '60%',
         //柱状图数值
         data:data
     }
 ]

};
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
 
             }
 
        },
         error : function(errorMsg) {
             //请求失败时执行该函数
         alert("图表请求数据失败!");
         myChart.hideLoading();
         }
    })
  </script>
</body>
</html>