<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务跟进系统 -未完成任务列表</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/backstage.css">
    <link href="/static/css/footer.css" rel="stylesheet">
    <script src="static/js/layer.js"></script>
    <style>
      .white_content { 
          display: none; 
          position: absolute; 
          top: 25%; 
          left: 10%; 
          width: 55%; 
          height: 55%; 
          padding: 20px; 
          border: 10px solid black; 
          background-color: white; 
          z-index:1002; 
          overflow: auto;
      } 
  </style>
</head>
<body>
  <!-- 顶部导航 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">任务跟进系统</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">首页 <span class="sr-only"></span></a></li>
          <li><a href="/newTask">创建任务 <span class="sr-only"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right nav-list">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
              <ul class="dropdown-menu admin-list">
                <li><a href="/todolist2" op="shop">代办事项</a></li>
                <li><a href="/taskFeedback" op="shop">任务反馈</a></li>
                <li><a href="logout" op="food">退出</a></li>
              </ul>
            </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- 顶部导航 -->
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h1>管理用户</h1>
          </div>
          <!-- Table -->
          <table class="table">
            <tr>
              <th>#</th>
              <th>用户名</th>
              <th>用户密码</th>
              <th>用户权限</th>
              <th>操作</th>
            </tr>
            {% for i in t %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.username}}</td>
              <td>{{i.password}}</td> 
              <th>{{i.status}}</th>          
              <td>
                {% if i.status==1 %}
                <form action='/modifyUStatus' method="POST">
                    <input name="id" value={{i.id}} type="hidden"/>
                    <button class="btn btn-warning btn-sm" type='submit'>禁用</button>
                </form>
                {% else %}
                <form action='/modifyUStatus' method="POST">
                    <input name="id" value={{i.id}} type="hidden"/>
                    <button class="btn btn-info btn-sm" type='submit'>启用</button>
                </form>
                {% endif %}
                <form action='/deleteUser' method="POST">
                    <input name="id" value={{i.id}} type="hidden"/>
                    <button class="btn btn-danger btn-sm" type='submit'>删除</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
  </div>
</div>

<footer class="panel-footer">
  <div class="container">
<div class="row footer-top" style="text-align: center;">
 <a href="#"><button class="btn">返回顶部</button></a>
</div>
</div>
</footer>

  <!-- js -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>
</html>